/*Google Fonts*/ /* atalho para comentar shift+alt+a*/
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quintessential&display=swap');



/*variaveis das cores*/
:root, :root[data-theme='dark' ]{
  --primary-color:#f0f0f0;/*cor principal textos*/
  --primary-bg-color:#111217; /*cor principal fundo*/
   /* bg= cor do fundo*/
}
body{
  background:var(--primary-bg-color) ;
}
/*tema light*/
  :root[data-theme='light'] {
    --primary-color: #0000;
    primary-bg-color: #f0f2f5;
  }
  body{
    background: var(--primary-bg-color);
    color: var(--primary-color);
  }