/*Google Fonts*/ /* atalho para comentar shift+alt+a*/
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quintessential&display=swap');



/*variaveis das cores*/
:root, :root[data-theme='dark' ]
{
  --primary-color:#f0f0f0;/*cor principal textos*/
  --primary-bg-color:#111217; /*cor principal fundo*/
   /* bg= cor do fundo*/
   --primary-border-color: #28292E;
    --secondary-border-color: #56575A;
    --title-color: #F0F0F0;
    --text-color: #8f8f8f;
    --link-color: #F0F0F0;

    --link-color: #8f8f8f;
    --link-hover: #F0F0F0;

    --icon-color: #C7C8C9;
}
body{
  background:var(--primary-bg-color) ;
}
/*tema light*/
  :root[data-theme='light'] {
    --primary-color: #0000;
   --primary-bg-color: #f0f2f5;

   --primary-border-color: #28292E;
    --secondary-border-color: #56575A;
    --title-color: #F0F0F0;
    --text-color: #8f8f8f;
    --link-color: #F0F0F0;

    --link-color: #8f8f8f;
    --link-hover: #F0F0F0;

    --icon-color: #C7C8C9;
}




  
  body{
    background: var(--primary-bg-color);
    color: var(--primary-color);
  }
 
    
/* TEMA LIGHT */
:root[data-theme='light'] {
    --primary-color: #000; /* cor principal textos */
    --primary-color: #0d0c09; /* cor principal textos */

    --primary-bg-color: #f0f2f5;
    --secondary-bg-color: #C7C8C9;

    --primary-border-color: #C7C8C9;
	--secondary-border-color: #9A9A9C;

	--title-color: #0B0B0F;
	--link-hover: #a3a2a2;
	--link-color: #0B0B0F;
	--icon-color: #56575A;
}

/* Reset CSS */
* {
    margin: 0; /*margem */
    padding: 0px; /* preenchimento */
    box-sizing: border-box;
    vertical-align: baseline;
    list-style: none;
    scrollbar-width: thin;
    scrollbar-color: var(--secondary-bg-color) transparent;
}

body {
    background: var(--primary-bg-color); /*cor fundo*/
    color: var(--primary-color);  /*cor geral dos textos*/
    font-family: 'Playwrite', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: var(--link-color);
}

a:hover {
    color: var(--link-hover);
}

i{
  color:var(--icon-color);
}

.header{
  display: flex;
  flex-flow: row wrap;
  /* coloca o conteúdo em linha e permite a quebra de linha*/
  justify-content: space-between;
  /* os itens dentro do container flexivel serão distribuídos de maneira uniforme ao longo do eixo principal, com espaços iguais entre eles*/
   align-items: center;
   width: 100%;
   padding: 0.5rem 1rem;
   z-index: 2; 
   /* sobreposisão*/
}

  .header-logo .logo{
    width: 3.25rem;
    height: 3.25rem;

  }
  #toggleTheme{
    font-size: 1.5rem ;
    color: var(--icon-color);
    cursor: pointer;
    transition: ease-in-out .4s;/*efeitos de animação*/
  }

  .menu{
    display: flex;
    /*torna o elemento um flex container automaticamente transformando todos os seus filhos diretos em flex itens*/
    align-items: center;
    background: var(--primary-bg-color);
    gap: 1rem;
  }
  .menu-link{
    display: flex;
    align-items: center;
    gap: .5rem;
  }
    .menu-mobile{ /*ul*/
      width: 100%;
      position: fixed;
      bottom: 0;
      justify-content: space-between ;
      border-top: 1px solid var(--primary-border-color);
    }
    .menu-mobile .menu-link{
      flex-direction: column;
      justify-content: center;
      padding: 0.5rem 1rem;  
    }
    .menu-link.active .menu-icon,
    .menu-link.active .menu-text,
    .menu-link:hover .menu-icon,
    .menu-link:hover .menu-text{
      color: var(--link-hover);
    }
    .menu-icon, .menu-text{
      color: var(--link-color);
      font-weight: 600;
    }
    .menu-icon{
      font-size: 1.5rem;
    }
    
    .menu-text{
      font-size: .75rem;
      text-transform: capitalize;
    }
    .header-nav{
      display: none;
    }
    .menu-principal{
      gap: 1rem;
    }

    /*====---------------------*/

    /*css responsivo*/
    @media (min-width: 768px) {
      .header {
        position: fixed;
        border-bottom: 1px solid var(--primary-border-color);
        padding: 1rem 6rem;
        

      }
      .nav-mobile{
        display: none;

      }
      .header-nav{
        display: flex;
      }

    }     
